.search-container{
    display: inline-block;
    place-items: center;
    width: 100vw;
    margin-top: 10vh;
}
input{
    border: none;
    padding: 10px;
    margin: 10px;
    height: 20px;
    width: 500px;
    border:1px solid #eaeaea;
    outline:none;
    border-radius: 10vh;
}
input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
input:focus{
    border-color:#4d90fe;
}
